/* Selector de tipo Etiqueta */
body {
  background-color: blueviolet;
}

/* Selector de tipo #Id */
#etiquetas {
  background-color: black;
  width: 80%;
  color: white;
  height: 200px;
}

/* Selector de tipo .Clase */
.azul {
  background-color: blue;
}

div {
  background-color: brown;
  height: 250px;
}

/* Modelo de Caja CSS: margin - border - padding  */
li {
  display: inline;
  padding: 10px;
  border: 1px solid white;
  margin: 4px;
  background-color: rgb(130, 11, 241, 0.52);
  cursor: pointer;
  box-shadow: 2px 2px 10px white;
}

li:hover {
  background-color: aqua;
  color: black;
  box-shadow: -5px 5px 10px white;
}